<footer class="main-footer">
  <!--Bottom-->
  <div class="footer-bottom">
    <div class="auto-container">
      <div class="outer-box">
        <div class="copyright-text">
          © 2021 <a href="#">Kris</a>. All Right Reserved.
        </div>
      </div>
    </div>
  </div>

  <!-- Scroll To Top -->
  <div class="scroll-to-top scroll-to-target" data-target="html">
    <span class="fa fa-angle-up"></span>
  </div>
</footer>
