<!-- Main Header-->
<header class="main-header">
  <!-- Main box -->
  <div class="main-box">
    <!--Nav Outer -->
    <div class="nav-outer">
      <div class="logo-box">
        <div class="logo">
          <a href="/"
            ><img src="../../images/favicon.png" alt="" title="" /><span
              style="
                padding-left: 0.6rem;
                font-weight: bolder;
                font-size: 1.3rem;
                color: black;
              "
              >Joble</span
            ></a
          >
        </div>
      </div>

      <nav class="nav main-menu">
        <ul class="navigation" id="navbar">
          <li>
            <a href="/listings">Job Listings</a>
          </li>

          <li class="dropdown">
            <span>Employee</span>
            <ul>
              <li><a href="/users/employee/register">Sign Up</a></li>
              <li>
                <a class="current" href="/users/employee/login">Sign In</a>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <span>Employer</span>
            <ul>
              <li><a href="/users/employer/login">Sign In</a></li>
              <li>
                <a class="current" href="/users/employer/register">Sign Up</a>
              </li>
            </ul>
          </li>

          <!-- Only for Mobile View -->
          <li class="mm-add-listing">
            <a href="/users/employer/register" class="theme-btn btn-style-one"
              >Job Post</a
            >
          </li>
        </ul>
      </nav>
      <!-- Main Menu End-->
    </div>
  </div>

  <!-- Mobile Header -->
  <div class="mobile-header">
    <div class="logo">
      <a href="index.html"
        ><img src="../../images/favicon.png" alt="" title="" /><span
          style="
            padding-left: 0.6rem;
            font-weight: bolder;
            font-size: 1.3rem;
            color: black;
          "
          >Joble</span
        ></a
      >
    </div>

    <!--Nav Box-->
    <div class="nav-outer clearfix">
      <div class="outer-box">
        <!-- Login/Register -->

        <!-- <span class="icon-user"></span> -->

        <a href="#nav-mobile" class="mobile-nav-toggler"
          ><span class="flaticon-menu-1"></span
        ></a>
      </div>
    </div>
  </div>

  <!-- Mobile Nav -->
  <div id="nav-mobile"></div>
</header>
<!--End Main Header -->
