<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from creativelayers.net/themes/Joble/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:16:59 GMT -->
  <head>
    <%- include('./partials/head') %>
  </head>

  <body data-anm=".anm">
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"></div>

      <%- include('./partials/nav') %>

      <!-- Banner Section-->
      <section class="banner-section">
        <div class="auto-container">
          <div class="row">
            <div class="content-column col-lg-7 col-md-12 col-sm-12">
              <div class="inner-column wow fadeInUp" data-wow-delay="1000ms">
                <div class="title-box">
                  <h3>
                    There Are <span class="colored">93,178</span> Postings
                    Here<br />
                    For you!
                  </h3>
                  <div class="text">
                    Find Jobs, Employment & Career Opportunities
                  </div>
                </div>

                <!-- Job Search Form -->
                <div class="job-search-form">
                  <form method="post" action="/">
                    <div class="row">
                      <div class="form-group col-lg-9 col-md-12 col-sm-12">
                        <span class="icon flaticon-search-1"></span>
                        <input
                          type="text"
                          name="field_name"
                          placeholder="Job title, keywords, or company"
                        />
                      </div>
                      <!-- Form Group -->
                      <!-- <div
                        class="form-group col-lg-4 col-md-12 col-sm-12 location"
                      >
                        <span class="icon flaticon-map-locator"></span>
                        <input
                          type="text"
                          name="field_name"
                          placeholder="City or postcode"
                        />
                      </div> -->
                      <!-- Form Group -->
                      <div
                        class="form-group col-lg-3 col-md-12 col-sm-12 btn-box"
                      >
                        <button type="submit" class="theme-btn btn-style-one">
                          <span class="btn-title">Find Jobs</span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <!-- Job Search Form -->
              </div>
            </div>

            <div class="image-column col-lg-5 col-md-12">
              <div class="image-box">
                <figure class="main-image wow fadeIn" data-wow-delay="500ms">
                  <img src="images/resource/banner-img-1.png" alt="" />
                </figure>

                <!-- Info BLock One -->
                <div
                  class="info_block anm wow fadeIn"
                  data-wow-delay="1000ms"
                  data-speed-x="2"
                  data-speed-y="2"
                >
                  <span class="icon flaticon-email-3"></span>
                  <p>Work Inquiry From <br />Ali Tufan</p>
                </div>

                <!-- Info BLock Two -->
                <div
                  class="info_block_two anm wow fadeIn"
                  data-wow-delay="2000ms"
                  data-speed-x="1"
                  data-speed-y="1"
                >
                  <p>10k+ Candidates</p>
                  <div class="image">
                    <img src="images/resource/multi-peoples.png" alt="" />
                  </div>
                </div>

                <!-- Info BLock Three -->
                <div
                  class="info_block_three anm wow fadeIn"
                  data-wow-delay="1500ms"
                  data-speed-x="4"
                  data-speed-y="4"
                >
                  <span class="icon flaticon-briefcase"></span>
                  <p>Creative Agency</p>
                  <span class="sub-text">Startup</span>
                  <span class="right_icon fa fa-check"></span>
                </div>

                <!-- Info BLock Four -->
                <div
                  class="info_block_four anm wow fadeIn"
                  data-wow-delay="2500ms"
                  data-speed-x="3"
                  data-speed-y="3"
                >
                  <span class="icon flaticon-file"></span>
                  <div class="inner">
                    <p>Upload Your CV</p>
                    <span class="sub-text">It only takes a few seconds</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Banner Section-->

      <!-- Job Categories -->

      <!-- End Job Categories -->

      <!-- Job Section -->
      <section class="job-section">
        <div class="auto-container">
          <div class="sec-title text-center">
            <h2>Featured Jobs</h2>
            <div class="text">
              Know your worth and find the job that qualify your life
            </div>
          </div>

          <div class="row wow fadeInUp">
            <!-- Job Block -->
            <div class="job-block col-lg-6 col-md-12 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo"
                    ><img src="images/resource/company-logo/1-1.png" alt=""
                  /></span>
                  <h4>
                    <a href="#">Software Engineer (Android), Libraries</a>
                  </h4>
                  <ul class="job-info">
                    <li>
                      <span class="icon flaticon-briefcase"></span> Segment
                    </li>
                    <li>
                      <span class="icon flaticon-map-locator"></span> London, UK
                    </li>
                    <li>
                      <span class="icon flaticon-clock-3"></span> 11 hours ago
                    </li>
                    <li>
                      <span class="icon flaticon-money"></span> $35k - $45k
                    </li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">Full Time</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn">
                    <span class="flaticon-bookmark"></span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Job Block -->
            <div class="job-block col-lg-6 col-md-12 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo"
                    ><img src="images/resource/company-logo/1-2.png" alt=""
                  /></span>
                  <h4><a href="#">Recruiting Coordinator</a></h4>
                  <ul class="job-info">
                    <li>
                      <span class="icon flaticon-briefcase"></span> Segment
                    </li>
                    <li>
                      <span class="icon flaticon-map-locator"></span> London, UK
                    </li>
                    <li>
                      <span class="icon flaticon-clock-3"></span> 11 hours ago
                    </li>
                    <li>
                      <span class="icon flaticon-money"></span> $35k - $45k
                    </li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">Full Time</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn">
                    <span class="flaticon-bookmark"></span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Job Block -->
            <div class="job-block col-lg-6 col-md-12 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo"
                    ><img src="images/resource/company-logo/1-3.png" alt=""
                  /></span>
                  <h4><a href="#">Product Manager, Studio</a></h4>
                  <ul class="job-info">
                    <li>
                      <span class="icon flaticon-briefcase"></span> Segment
                    </li>
                    <li>
                      <span class="icon flaticon-map-locator"></span> London, UK
                    </li>
                    <li>
                      <span class="icon flaticon-clock-3"></span> 11 hours ago
                    </li>
                    <li>
                      <span class="icon flaticon-money"></span> $35k - $45k
                    </li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">Full Time</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn">
                    <span class="flaticon-bookmark"></span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Job Block -->
            <div class="job-block col-lg-6 col-md-12 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo"
                    ><img src="images/resource/company-logo/1-4.png" alt=""
                  /></span>
                  <h4><a href="#">Senior Product Designer</a></h4>
                  <ul class="job-info">
                    <li>
                      <span class="icon flaticon-briefcase"></span> Segment
                    </li>
                    <li>
                      <span class="icon flaticon-map-locator"></span> London, UK
                    </li>
                    <li>
                      <span class="icon flaticon-clock-3"></span> 11 hours ago
                    </li>
                    <li>
                      <span class="icon flaticon-money"></span> $35k - $45k
                    </li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">Full Time</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn">
                    <span class="flaticon-bookmark"></span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Job Block -->
            <div class="job-block col-lg-6 col-md-12 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo"
                    ><img src="images/resource/company-logo/1-5.png" alt=""
                  /></span>
                  <h4>
                    <a href="#">Senior Full Stack Engineer, Creator Success</a>
                  </h4>
                  <ul class="job-info">
                    <li>
                      <span class="icon flaticon-briefcase"></span> Segment
                    </li>
                    <li>
                      <span class="icon flaticon-map-locator"></span> London, UK
                    </li>
                    <li>
                      <span class="icon flaticon-clock-3"></span> 11 hours ago
                    </li>
                    <li>
                      <span class="icon flaticon-money"></span> $35k - $45k
                    </li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">Full Time</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn">
                    <span class="flaticon-bookmark"></span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Job Block -->
            <div class="job-block col-lg-6 col-md-12 col-sm-12">
              <div class="inner-box">
                <div class="content">
                  <span class="company-logo"
                    ><img src="images/resource/company-logo/1-6.png" alt=""
                  /></span>
                  <h4>
                    <a href="#">Software Engineer (Android), Libraries</a>
                  </h4>
                  <ul class="job-info">
                    <li>
                      <span class="icon flaticon-briefcase"></span> Segment
                    </li>
                    <li>
                      <span class="icon flaticon-map-locator"></span> London, UK
                    </li>
                    <li>
                      <span class="icon flaticon-clock-3"></span> 11 hours ago
                    </li>
                    <li>
                      <span class="icon flaticon-money"></span> $35k - $45k
                    </li>
                  </ul>
                  <ul class="job-other-info">
                    <li class="time">Full Time</li>
                    <li class="privacy">Private</li>
                    <li class="required">Urgent</li>
                  </ul>
                  <button class="bookmark-btn">
                    <span class="flaticon-bookmark"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="btn-box">
            <a href="/listings" class="theme-btn btn-style-one bg-blue"
              ><span class="btn-title">Load More Listing</span></a
            >
          </div>
        </div>
      </section>
      <!-- End Job Section -->

      <!--Clients Section-->
      <section class="clients-section">
        <div class="sponsors-outer wow fadeInUp">
          <!--Sponsors Carousel-->
          <ul class="sponsors-carousel owl-carousel owl-theme">
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-1.png" alt="" /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-2.png" alt="" /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-3.png" alt="" /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-4.png" alt="" /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-5.png" alt="" /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-6.png" alt="" /></a>
              </figure>
            </li>
            <li class="slide-item">
              <figure class="image-box">
                <a href="#"><img src="images/clients/1-7.png" alt="" /></a>
              </figure>
            </li>
          </ul>
        </div>
      </section>
      <!-- End Clients Section-->

      <!-- Call To Action -->
      <section class="call-to-action">
        <div class="auto-container">
          <div class="outer-box wow fadeInUp">
            <div class="content-column">
              <div class="sec-title">
                <h2>Recruiting?</h2>
                <div class="text">
                  Advertise your jobs to millions of monthly users and search
                  15.8 million<br />
                  CVs in our database.
                </div>
                <a
                  href="/users/employer/register"
                  class="theme-btn btn-style-one bg-blue"
                  ><span class="btn-title">Start Recruiting Now</span></a
                >
              </div>
            </div>

            <div
              class="image-column"
              style="background-image: url(images/resource/image-1.png)"
            >
              <figure class="image">
                <img src="images/resource/image-1.png" alt="" />
              </figure>
            </div>
          </div>
        </div>
      </section>
      <!-- End Call To Action -->

      <!-- Main Footer -->
      <%- include('./partials/footer') %>
      <!-- End Main Footer -->
    </div>
    <!-- End Page Wrapper -->

    <script src="js/jquery.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/chosen.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.modal.min.js"></script>
    <script src="js/mmenu.polyfills.js"></script>
    <script src="js/mmenu.js"></script>
    <script src="js/appear.js"></script>
    <script src="js/anm.min.js"></script>
    <script src="js/owl.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/script.js"></script>
  </body>

  <!-- Mirrored from creativelayers.net/themes/superio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:17:34 GMT -->
</html>
