<!DOCTYPE html>
<html lang="en">
  <!-- Mirrored from creativelayers.net/themes/superio/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:19:18 GMT -->
  <head>
    <%- include('./partials/head') %>
  </head>

  <body>
    <div class="page-wrapper">
      <!-- Preloader -->
      <div class="preloader"></div>

      <!-- Main Header-->
      <header class="main-header">
        <div class="container-fluid">
          <!-- Main box -->
          <div class="main-box">
            <!--Nav Outer -->
            <div class="nav-outer">
              <div class="logo-box">
                <div class="logo">
                  <a href="/"
                    ><img src="../../../../images/logo-2.svg" alt="" title="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile Header -->
        <div class="mobile-header">
          <div class="logo">
            <a href="/"
              ><img src="../../../../images/favicon.png" alt="" title="" /><span
                style="
                  padding-left: 0.6rem;
                  font-weight: bolder;
                  font-size: 1.3rem;
                  color: black;
                "
                >Joble</span
              ></a
            >
          </div>

          <!--Nav Box-->
          <div class="nav-outer clearfix">
            <div class="outer-box">
              <!-- Login/Register -->

              <!-- <span class="icon-user"></span> -->
              <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"
                ><span class="flaticon-menu-1"></span
              ></a>
            </div>
          </div>
        </div>

        <!-- Mobile Nav -->
        <div id="nav-mobile"></div>
      </header>
      <!--End Main Header -->

      <!-- Info Section -->
      <div class="login-section">
        <div
          class="image-layer"
          style="background-image: url(../../images/background/12.jpg)"
        ></div>
        <div class="outer-box">
          <!-- Login Form -->
          <div class="login-form default-form">
            <div class="form-inner">
              <h3>Login to Joble</h3>
              <!--Login Form-->
              <form method="post" action="">
                <div class="form-group">
                  <label>Emal</label>
                  <input
                    type="text"
                    name="username"
                    placeholder="johnsmith@gmail.com"
                    required
                  />
                </div>

                <div class="form-group">
                  <label>Password</label>
                  <input
                    required
                    id="password-field"
                    type="password"
                    name="password"
                    value=""
                    placeholder="Password"
                  />
                </div>

                <div class="form-group">
                  <div class="field-outer">
                    <div class="input-group checkboxes square">
                      <input
                        type="checkbox"
                        name="remember-me"
                        value=""
                        id="remember"
                      />
                      <!-- <label for="remember" class="remember"
                        ><span class="custom-checkbox"></span> Remember
                        me</label
                      > -->
                    </div>
                    <!-- <a href="#" class="pwd">Forgot password?</a> -->
                  </div>
                </div>

                <div class="form-group">
                  <button
                    class="theme-btn btn-style-one"
                    type="submit"
                    name="log-in"
                  >
                    Log In
                  </button>
                </div>
              </form>
            </div>
          </div>
          <!--End Login Form -->
        </div>
      </div>
      <!-- End Info Section -->
    </div>
    <!-- End Page Wrapper -->

    <script src="../../js/jquery.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/chosen.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery-ui.min.js"></script>
    <script src="../../js/jquery.fancybox.js"></script>
    <script src="../../js/jquery.modal.min.js"></script>
    <script src="../../js/mmenu.polyfills.js"></script>
    <script src="../../js/mmenu.js"></script>
    <script src="../../js/appear.js"></script>
    <script src="../../js/owl.js"></script>
    <script src="../../js/wow.js"></script>
    <script src="../../js/script.js"></script>
  </body>

  <!-- Mirrored from creativelayers.net/themes/superio/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 24 Jul 2021 17:19:18 GMT -->
</html>
